

body {
	margin: 0;
	padding: 0;
	height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	
}



#Noor {background-color: #E20516;background-image: url(img1.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
#Haider {background-color: #10F59A;background-image: url(img12.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
#Esha {background-color: #90D634;background-image: url(img11.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
#Mom {background-color: #E27F2C;background-image: url(img10.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
#Dad {background-color: #36878A;background-image: url(img13.jpg);background-attachment: fixed;background-position: center;background-size: cover;}


@media print {
  h1 {page-break-before: always;}
}

.nametitle {
	position: relative;
	font-variant: small-caps;
	font-size: 60px;
	color: #316ccc;
}

a {
	text-decoration: none;
	color: #fff;
	
}

a:hover {
	text-decoration: none;
}



div.fixed2 {
	position: fixed;
	right: 10px;
	bottom:0px;
	z-index: 10;
}


#mySidenav2 a {
    position: absolute;
    bottom: 10px;
    transition: 0.5s;
    text-decoration: none;
    font-size: 18px;
    text-align: bottom;
    color: white;
    border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 6pt 4pt black;
	text-shadow: 2pt 4pt 3pt white;
}

#mySidenav2 a:hover {
    bottom: 12px;
	font-size: 20px;
	box-shadow: 0 0 6pt 4pt white;
	z-index: 11;
}


#Linkedin2 {
    right: 5px;
	font-size: 12px;
	font-weight: bold;
}

#Instagram2 {
    right: 60px;
	background-repeat: no-repeat;
	font-size: 12px;
	font-weight: bold;
}


#Email2 {
    right: 115px;
	font-size: 12px;
	font-weight: bold;
}




